<nav class="navbar navbar-expand-lg navbar-dark bg-danger shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="{% url 'inicio_mcdonalds' %}">🍔 McDonald's</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <!-- CLIENTES -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Clientes</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'agregar_cliente' %}">Agregar Cliente</a></li>
            <li><a class="dropdown-item" href="{% url 'ver_cliente' %}">Ver Clientes</a></li>
          </ul>
        </li>

        <!-- PEDIDOS -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Pedidos</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'agregar_pedido' %}">Agregar Pedido</a></li>
            <li><a class="dropdown-item" href="{% url 'ver_pedido' %}">Ver Pedidos</a></li>
          </ul>
        </li>

        <!-- EMPLEADOS -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Empleados</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'agregar_empleado' %}">Agregar Empleado</a></li>
            <li><a class="dropdown-item" href="{% url 'ver_empleado' %}">Ver Empleados</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
